<div class="row title">
    <h2>Fiche client</h2>
    <button type="button" class="btn btn-danger ret" (click)="retour()" >Retour</button>
</div>
<div class="row">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Matricule</th>
                <th>Modele</th>
                <th>Marque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let voiture of voitures">
                <td>{{voiture.id}}</td>
                <td>{{voiture.matricule}}</td>
                <td>{{voiture.modele}}</td>
                <td>{{voiture.marque}}</td>
                <td class="actions">
                    <button type="button" class="btn btn-primary" [routerLink]="['/detail-voiture',voiture.id]"  ><i class="fa-regular fa-eye"></i></button>
                    <button type="button" class="btn btn-danger" (click)="supprimer(voiture.id)"  ><i class="fa-solid fa-trash"></i></button>
                    <a type="button" class="btn btn-info" [routerLink]="['/modifier-voiture',voiture.id]"   ><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

