<section class="service-categories text-xs-center">
    <div class="container">
      <div class="rows-card">
        <div class="cards">
            <div class="card-self">
                <a [routerLink]="['ajouter-client']" >
                  <div class="card service-card card-inverse">
                    <div class="card-block">
                      <span class="fa fa-person fa-3x"></span>
                      <h4 class="card-title">Ajouter un client</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-self">
                <a [routerLink]="['ajouter-voiture']">
                  <div class="card service-card card-inverse">
                    <div class="card-block">
                      <span class="fa fa-car fa-3x"></span>
                      <h4 class="card-title">Ajouter une voiture</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-self">
                <a [routerLink]="['add-location']">
                  <div class="card service-card card-inverse">
                    <div class="card-block">
                      <span class="fa fa-calendar fa-3x"></span>
                      <h4 class="card-title">Louer une voiture</h4>
                    </div>
                  </div>
                </a>
              </div>
        </div>
        <div class="cards">
            <div class="card-self">
                <a [routerLink]="['clients']">
                  <div class="card service-card card-inverse">
                    <div class="card-block">
                      <span class="fa fa-users fa-3x"></span>
                      <h4 class="card-title">Fiche client</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-self">
                <a [routerLink]="['voitures']">
                  <div class="card service-card card-inverse ">
                    <div class="card-block">
                      <span class="fa fa-list fa-3x"></span>
                      <h4 class="card-title">Fiche voiture</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-self">
                <a [routerLink]="['locations']">
                  <div class="card service-card card-inverse">
                    <div class="card-block">
                      <span class="fa fa-rectangle-list fa-3x"></span>
                      <h4 class="card-title">Fiche reservation</h4>
                    </div>
                  </div>
                </a>
              </div>
        </div>
  

  
  
      </div>
      <!--End Row-->
  
    </div>
  </section>